.us{
    color: rgb(50, 163, 135);
} 


.red{
    color: rgb(255, 0, 0);
}

.primeiro{
    display: flex;

}
.segundo{
    display: flex;
    justify-content: center; 

}
.terceiro{
    display: flex;
    justify-content: flex-end; 

} 
.jeff{
    color:azure; 
    text-shadow: 3px;
    text-transform: uppercase; 
    text-decoration: underline;
}
.quarto{
    display: flex;
    justify-content: flex-end; 
    color: rgb(55, 0, 144);
}

.centro{
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    background-color:rgb(255, 179, 0); 
}